.wrapper {
  padding: 60px 50px 0;
  width: 100%;
  // height: 100vh;
}
.evaluations-new {
  // height: 100vh;
  width: 700px;
  margin: 100px auto;
  &__contents {
    width: 700px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    &__exhibitor {
      padding: 20px 0;
      height: 30px;
      width: 100%;
      text-align: center;
      font-size: 24px;

    }
    &__box {
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: space-around;
      padding: 100px 0;
      &__radio-btn-good {

      }

    }
    &__submit {
      width: 100%;
      height: 50px;
      margin: auto;
      &--btn {
        height: 50px;
        width: 350px;
        display: block;
        margin: auto;
        background-color: #68C7CC;
        color: #fff;
        font-size: 17px;
        border-radius: 25px;
        border: 1px solid #68C7CC;
        cursor: pointer;
      }
    }
  }
}

.good-icon {
  font-size: 100px;
  color: #EF5185;
}
.normal-icon {
  font-size: 100px;
  color: #FBA933;
}
.bad-icon {
  font-size: 100px;
  color: #6AB5D8;
}

.radio-btn {
  width: 100px;
  text-align: center;
}