.main
  .side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
        %li
        %li
        %li
        %li
        %li
      .mypage-nav-head
        メルペイ
      %ul.mypage-nav-list
        %li
        %li
        %li
      .mypage-nav-head
        設定
      %ul.mypage-nav-list
        %li
        %li
        %li
  .content
    %section.mypage-user-icon
      ユーザーアイコン、ユーザー名
    %section.mypage-tab-content
      %ul.mypage-tabs
        %li
        %li
      .tab-content
