
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/nav";
@import "modules/post-btn_footer";

@import "products/show";
@import "products/index";
@import "products/new";
@import "products/purchase";
@import "users/index";
@import "users/show";
@import "cards";
@import "profiles/edit";
@import "users/user-info-regular";
@import "users/side-bar";
@import "products/search";


// ----------------共通パーツ設定--------------//

* {
  box-sizing: border-box;
  margin: 0;

}
h1{
  font-size: 36px;
  margin: 0;
}
h2{

  font-size: 16px;

  margin: 0;
}
h3{
  font-size: 14px;
  margin: 0;

}
h4{
  font-size: 10.5px;
  margin: 0;

}


.bold{
  font-weight: 550;
}
.white{
  color: #ffffff;
}
.grey{
  color: #888888;
  margin: 15px 0 20px 0;
}
