@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "nav";
@import "products/show";
@import "products/index";
@import "products/new";
@import "users/index";
@import "users/show";
@import "cards";
@import "profiles/edit";



// ----------------共通パーツ設定--------------//

* {
  box-sizing: border-box;
  margin: 0;

}
h1{
  font-size: 36px;
  margin: 0;
}
h2{
  font-size: 16px;
  margin: 0;
}
h3{
  font-size: 14px;
  margin: 0;

}
h4{
  font-size: 10.5px;
  margin: 0;


}


.bold{
  font-weight: 550;
}
.white{
  color: #ffffff;
}
