@import "font-awesome-sprockets";
@import "font-awesome";
@import "nav";
@import "products/show";
@import "products/index";
@import "products/new";
@import "users/index";
@import "users/show";


// ----------------共通パーツ設定--------------//

* {
  box-sizing: border-box;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 17px;
}
h3{
  font-size: 14px;
}
h4{
  font-size: 10.5px;
}

.bold{
  font-weight: 600px;
}

