.wrapper
  / <div class="header">ヘッダー(部分テンプレート)</div>
  .header-image イメージ画像を入れるかどうか
  .category
    .title 人気のカテゴリー
    .tags
      .list
        %a{:href => "tag--link"} レディース
      .list
        %a{:href => "tag--link"} メンズ
      .list
        %a{:href => "tag--link"} 家電・スマホ・カメラ
      .list
        %a{:href => "tag--link"} おもちゃ・ホビー・グッズ
  .items
    .item-title レディース新着アイテム
    .boxs
      .box
        .image 画像
        .text ワンピース
      .box
        .image
        .text サンダル
      .box
        .image
        .text スーツケース
      .box
        .image
        .text 大人のおしゃれセット
      .box
        .image
        .text ブーツ
      .box
        .image 画像
        .text ワンピース
      .box
        .image
        .text サンダル
      .box
        .image 画像
        .text ワンピース
      .box
        .image
        .text ブーツ
      .box
        .image
        .text 大人のおしゃれセット
  .category
    .title 人気ブランド
    .tags
      .list シャネル
      .list ルイヴィトン
      .list シュプリーム
      .list ナイキ
  .items
    .item-title レディース新着アイテム
    .boxs
      .box
        .image 画像
        .text ワンピース
      .box
        .image
        .text サンダル
      .box
        .image
        .text スーツケース
      .box
        .image
        .text 大人のおしゃれセット
      .box
        .image
        .text ブーツ
      .box
        .image
        .text スーツケース
      .box
        .image
        .text 大人のおしゃれセット
      .box
        .image
        .text サンダル
      .box
        .image
        .text スーツケース
      .box
        .image
        .text スーツケース
