.mypage-main{
  padding-top: 100px;
  background-color: #ffffff;
  padding-bottom: 100px;
}
.main-content-wrapper{
  width: 1084px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.mypage-content{
  width: 700px;
  margin-left: 100px;
}
.mypage-user-icon{
  position: relative;
  height: 100px;
  border-radius: 50px 50px 0 0;
  background: lightblue;
  text-align: center;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 5px;
  a{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    .user-nickname{
      font-size: 24px;
      font-weight: bold;
      max-width: 200px;
      line-height: 100px;
      padding-right: 100px;
    }
    img{
      position: absolute;
      top: 25%;
    }
  }
}
.mypage-tab-content{
  // overflow-y: scroll;
  height: 470px;
  border: 1px #707070;
  box-shadow: 5px 5px 5px gray;
  // ul.mypage-tabs{
  //   display: flex;
  //   list-style: none;
  //   height: 70px;
  //   margin: 0;
  //   li.purchaser-blank{
  //     width: 50%;
  //     padding: 10px 0 10px;
  //     a{
  //       display: block;
  //       position: absolute;
  //       right: 0;
  //       height: 50px;
  //       line-height: 50px;
  //       width: 20%;
  //       color: white;
  //       background: black;
  //       border-radius: 50px;
  //     }
  //   }
  //   li.purchaser-exist{
  //     width: 50%;
  //     padding: 10px 0 10px;
  //     a{
  //       display: block;
  //       height: 50px;
  //       line-height: 50px;
  //       width: 20%;
  //       color: black;
  //       border-radius: 50px;
  //     }
  //   }
  // }
}


// .tabs {
//   width: 600px;
//   height: 470px;
//   background: #FFFFFF;
//   margin:0 auto;
//   .tabs-box {
//     height: 70px;
//     line-height: 70px;
//     text-align: center;
//     margin-bottom: 20px;
//     .tab-label {
//       display: inline-block;
//       width: 70px;
//       height: 50px;
//       line-height: 50px;
//       border-radius: 50px;
//       // padding: 3px 6px;
//       font-size: 11px;
//       font-weight:bold;
//       color: white;
//       background: black;
//       margin-bottom: 20px;
//       &:hover {
//         opacity: 0.7;
//       }
//     }
//     input[name = "tab-radio"] {
//       display: none;
//     }
//   }
//   #tab-1:checked ~ .tab-1-content, #tab-2:checked ~ .tab-2-content {
//     display: inline-flex;
//   }
//   .tab-content {
//     display: none;
//     flex-wrap: wrap;
//     overflow-y: scroll;
//     // margin: 0 auto;
//     width:600px;
//     height:370px;


//     a.sell-box {
//       display: block;
//       width: 600px;
//       img {
//         display: inline-block;
//         width:100px;
//         height:100px;
//         border-radius: 20px;
//         margin: 10px 10px 30px 10px;
//       }
//     }

//   }
//   input[name = "tab-radio"]:checked + .tab-label {
//     background-color: #000000;
//     color:#ffffff;
//   }
// }

// .tab-1-content.tab-2-content {
//   display: flex;
//   flex-wrap: wrap;
//   overflow-y: scroll;
//   // padding-top:52px;
//   a.sell-box {
//     height: 400px;
//     img {
//       display: block;
//       width:100px;
//       height:100px;
//       border-radius: 20px;
//       margin: 10px 10px 30px 10px;
//     }
//   }
// }
// // .tab-contents{
// //   .tab-contents-list{
// //     padding: 0 50px;
// //     margin: 0;
// //     .tab-content{
// //       display: flex;
// //       flex-wrap: wrap;
// //       height: 100px;
// //       line-height: 100px;
// //       text-align: center;
// //       margin-bottom: 20px;
// //       background: white;
// //       a{
// //         img{
// //           display: block;
// //           border-radius: 20px;
// //           width: 100px;
// //           height: 100px;
// //           margin: 10px 10px 30px 10px;
// //         }
// //       }
// //     }
// //   }
// // }
// .mypage-tab-container{
//   margin: 30px 0 0;


//   h3.mypage-tab-head{
//     padding-left: 10px;
//   }

//   ul.mypage-tabs{
//     display: flex;
//     margin: 0;
//     list-style: none;

//     li{
//       height: 70px;
//       line-height: 70px;
//       width: 50%;
//       text-align: center;
//       background: gray;

//       a{
//         display: block;
//       }
//     }
//   }
//   .tab-content{

//     ul.product-list{
//       list-style: none;
//       margin: 0;

//       li{
//         height: 70px;
//         line-height: 70px;
//         text-align: center;
//         margin-bottom: 5px;
//         background: white;

//         a{
//           display: block;
//         }
//       }
//     }
//   }
// }
.logout-content{
  float: right;
  width: 700px;
  height: 300px;
  margin-top: 16px;
  background: white;

  .form{
    position: relative;
    height: 300px;

    .logout-button{
      position: absolute;
      display: block;
      width: 300px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      background: red;
    }
  }
}
.require{
  display: inline;
  width: 32px;
  height: 15px;
  padding: 2.5px 5.5px;
  background-color: #68C7CC;
  color: #ffffff;
  border-radius: 7px;
}
.any{
  display: inline;
  width: 32px;
  height: 15px;
  padding: 2.5px 5.5px;
  background-color: #CCCCCC;
  color: #ffffff;
  border-radius: 7px;
}


.address{
  float: right;
  width: 700px;
  height: 500px;
  margin-top: 16px;
  background: white;

  section.address-content{

    h2{
      text-align: center;
    }
  }
}

.user-details-user-index{
  width: 700px;
  margin: 80px auto 0;
  background: #ffffff;
  border-radius: 50px 50px 50px 50px;
  
  .user-profile-index{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
    margin-left: 3px;
    .user-icon{
      position: relative;
      border-radius: 50px 50px 0 0 ;
      background-image:url(user-bg.jpg);
      height: 323px;
      text-align: center;
      display: relative;
      a{        
        background-size:cover;
        position: absolute;
        display: block;        
        top: 20%;
        left: 0;
        right: 0;
        img{
          border-radius: 50%;
        }
      }
    }
    .user-evaluation{
      margin-top:10px;
      height: 50px;
      background: #ffffff;
      &__box {
        height:36px;
        width:340px;
        margin: 0 auto;
        ul{
          display: flex;
          justify-content: space-around;
          list-style: none;
          margin: 0;
          li{
            display: flex;
            height: 36px;
            line-height: 36px;
            i{
              text-align: center;
              height: 36px;
              line-height: 36px;
              padding-left:14px;
            }
            .good {
              color: #ef5185;
              font-size:24px;
            }
            .normal {
              color: #fba933;
              font-size:24px;
            }
            .bad {
              color: #6ab5d8;
              font-size:24px;
            }
          }
        }
      }
    }
    .text-box {
      width: 600px;
      height:200px;
      margin:0 auto;
      color:#000000;
      text-align: center;
    }
    .tabs {
      width: 600px;
      height:468px;
      background-color: #ffffff;
      margin:0 auto;
      .tabs-box {
        text-align: center;
        height:52px;
        .tab-label {
          display:inline-block;
          height: 27px;
          width: 56px;
          border-radius: 10px 10px 10px 10px;
          padding:3px 6px;
          font-size: 11px;
          font-weight: bold;
          &:hover {
            opacity:0.7;
          }
        }
        input[name="tab-radio"] {
          display: none;
        }
      }
      #tab-1:checked ~ .tab-1-content, #tab-2:checked ~ .tab-2-content {
        display: inline-flex;        
      }
      .tab-content {
        display: none;
        margin: 0 auto;
        margin-top: 25px;
        width:600px;
        height:398px;       
        .tab-1-content .tab-2-content {
          display: flex;
          flex-wrap: wrap;

        }
      }
      input[name="tab-radio"]:checked + .tab-label{
        background-color: #000000;
        color:#ffffff
      }
      
    }
  }
}

.user-show-image{
  width: 544px;
  margin: 0 28px 0 28px;
  display: flex;
  flex-wrap: wrap;
}
.tabs .tab-content a.sell-box{
  width: 85px;
  height: 103px;
  margin-right: 23px;
}

.sell-box_img {
  border-radius: 10px 10px 10px 10px;
  margin-right:10px;

}


.users-items-box_photo__sold{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: relative;
  bottom: 205px;
  left: 5px;
  border-radius: 25px 0 0 0;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

.users-items-box_photo__sold-show{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: relative;
  bottom: 361px;
  right: 9px;
  border-top-left-radius: 25px;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}
