.mypage-userinfo-regular{
  width: 600px;
  height: 103px;
  margin-top: 60px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-image: url(user-bg.jpg);
  background-size: 600px 150px;

  &__lists{
    display: flex;
    height: inherit;
    align-items: center;
    position: relative;

    &__name{
      width: 130px;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      left: 156px;
      text-align: right;
    }

    &__img{
      position: absolute;
      right: 236px;

      &__data{
        border-radius: 60px;
      }
    }
  }
}

.mypage-userinfo-regular-index{
  width: 697px;
  height: 103px;
  margin-top: 60px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-image: url(user-bg.jpg);
  background-size: 700px 150px;
}