.mypage-userinfo-regular{
  width: 600px;
  height: 103px;
  margin: 60px 0 0 3px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-image: url(user-bg.jpg);
  background-size: 600px 150px;
  
  &__lists{
    display: flex;
    height: inherit;
    align-items: center;
    position: relative;

    &__name{
      width: 130px;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      left: 155px;
      text-align: right;
    }

    &__name-index-show{
      width: 320px;
      position: absolute;
      left: 60px;
    }
    
    &__link{
      font-size: 20px;
      font-weight: bold;
      background-color: transparent;
      text-align: right;
    }

    &__img-show-index{
      position: absolute;
      right: 236px;
      top: 14px;

      &__data{
        border-radius: 60px;
      }
    }

    &__img{
      position: absolute;
      right: 185px;
      top: 14px;

      &__data{
        border-radius: 60px;
      }
    }
  }
}

.mypage-userinfo-regular-index{
  width: 697px;
  height: 103px;
  margin-top: 60px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-image: url(user_bg.jpg);
  background-size: 700px 150px;
}
.mypage-userinfo-regular-profile-edit{
width: 600px;
height: 103px;
margin-top: 60px;
margin-left: 3px;
box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
border-top-left-radius: 40px;
border-top-right-radius: 40px;
background-image: url(user-bg.jpg);
background-size: 600px 150px;
}
.mypage-userinfo-regular-user-index{
width: 700px;
height: 103px;
margin-top: 60px;
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
border-top-left-radius: 40px;
border-top-right-radius: 40px;
background-image: url(user-bg.jpg);
background-size: 600px 150px;
}