.wrapper {
  width: 100%;
  padding: 80px 0 80px 0;
}
.content {
  width: 100%;
  height: 100%;
  &__products {
    width: 1293px;
    margin: auto;
    .item-top {
      height: 100px;
      font-size: 24px;
      line-height: 100px;
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      &__title {
      }
      &__link {
        &--btn {
          font-size: 14px;
        }
      }
    }
    .item-box {
      display: flex;
      flex-wrap: wrap;
      &__product {
        margin: 10px 25px 50px 25px;
        height: 200px;
        width: 200px;
        // border: 1px solid;
        // border-radius: 25px;
        margin-bottom: 80px;
        &--btn {
          position: relative;
          .image {
            object-fit: cover;
            &__tag {
              border-radius: 25px;
              display: block;
              margin: 5px;
            }
          }
          .price {
            position: absolute;
            bottom: -192px;
            right: -186px;
            color: #fff;
            font-size: 14px;
            &__box {
              height: 28px;
              width: 100px;
              border-radius: 15px;
              background-color: rgba(0, 0, 0, 0.7);
              text-align: center;
              line-height: 28px;
              
            }
          }
        }
      }
    }
  }
}

// .footer{
//   background-color: #272727;
//   padding-top: 40px;
//   display: flex;
//   justify-content: center;
//   width: 100%;
//   height: 222px;
  
//   &__logo{
//     background-image: url(logo-white.png);
//     background-repeat: none;
//     background-size: 189px 55px;
//     width: 189px;
//     height: 55px;
//     margin: auto;
//     position: relative;
    
//     &__text{
//       position: absolute;
//       bottom: -20px;
//       left: 80px;
//     }
//   }
// }
// .post-btn{  
//   position: fixed;
//   bottom: 30px;
//   right: 30px;
//   &__wrapper{
//     width: 160px;
//     height: 160px;
//     background-color: #68C7CC;
//     border: none;
//     text-align: center;
//     position: relative;
//     border-radius: 900px;
//   }
//   &__text{
//     height: 60px;
//     font-size: 22px;
//     color: #ffffff;
//     padding-top: 20px;
//   }
//   &__icon{
//     height: 0px;
//     background-color: inherit;
//     font-size: 80px;
//     color: #ffffff;
//     position: absolute;
//     left: 45px;
//     top: 27px;
//   }
// }




// html{
//   background-color: lightgray;
// }

// a {
//   text-decoration: none;
//   color: black;
// }

// .header-image{
//   width: 100vw;
//   height: 200px;
//   background-color: aquamarine;
//   line-height: 200px;
//   text-align: center;
//   background-image: url(flemarket_headder_img.jpeg);
//   background-repeat: none;
// }

// .category{
//   width: 100vw;
//   height: 50px;
//   background-color: #ffffff;
// }
// .title{
//   text-align: center;
//   /* background-color:pink; */
// }
// .tags{
//   display: flex;
//   justify-content: center;
// }
// .list{
//   margin-right: 10px;
//   background-color: lightgray;
// }



// .items{
//   width: 80vw;
//   height: 600px;
//   /* background-color: orchid; */
//   margin-left: 10vw;
//   margin-bottom: 20px;
// }
// .item-title{
//   height: 30px;
//   /* background-color: orange; */
// }
// .boxs{
//   width: 100%;
//   height: 200px;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
// }

// .box{
//   height: 200px;
//   width: 120px;
//   background-color: #ffffff;
//   margin: 20px;
// }
// .image{
//   height: 120px;
//   width: 120px;
// }

// .text{
//   height: 80px;
//   width: 120px;
//  /* background-color: lightgrey; */
//   text-align: center;
//  /* line-height: 80px; */
// }


// 画像のSOLD表記
.items-box_photo__sold-index {
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: relative;
  bottom: 205px;
  left: 5px;
  border-radius: 25px 0 0 0;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

.items-box_photo__sold-products-show {
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: relative;
  bottom: 361px;
  right: 9px;
  border-top-left-radius: 25px;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}