.content-bg-gray{
  background-color: #EFEFEF;
  padding-top: 80px;
  padding-bottom: 100px;
}
.shadowed-rounded-rectangle{
  width: 700px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  margin: 100px auto 0;
  background-color: #ffffff;
  border-radius: 60px;
  padding: 30px;
}
.mainbox-product-header{
  margin: 30px 0 8px;
  width: 434px;

  &__text{
    margin-bottom: 20px;
  }
}
.product-new-form{
  width: 434px;
  margin: auto;
}
.input-form-xlarge{
  width: 434px;
  height: 216px;
  margin: 8px 0 20px;
  border-radius: 25px;
  padding: 15px;
}
.input-form-xregular{
  width: 434px;
  height: 48px;
  margin: 8px 0 20px;
  border-radius: 17px;
  border: 1px solid;
}
.input-form-middle{
  width: 285px;
  height: 48px;
  margin: 8px 0 20px;
  border-radius: 17px;
  border: 1px solid;
  margin-left: 20px;
}
.xsubmit {
  border: 1px solid #68C7CC;
  border-radius: 25px;
  background-color: #68C7CC;
  display: flex;
  align-items: center;
  width: 434px;
  &__btn{
    height: 50px;
    width: 434px;
    color: #fff;
    font-size: 15px;
    margin: auto;;
    background-color: #68C7CC;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
}
.listing-select-wrapper__box--select{
width: 434px;
height: 48px;
margin: 8px 0 20px;
border-radius: 17px;
border: 1px solid;
}
.content__product-price__sold{
  position: relative;
  &__yen{
    position: absolute;
    top: 46px;
    left: 5px;
  }
}


.new-wrapper{
  padding: 40px 0;
  &__main{
    width: 720px;
    padding:20px;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 2px;
    background-color: white;
    .flexbox{
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 660px;
      .new-wrapper__main__preview{
        margin: 16px 0;
        display: flex;
        flex-wrap: wrap;
        &__image{
          position: relative;
          &__img{
            width: 131px;
            margin-right: 1px;
            height: 160px;
            object-fit: cover;
          }
          &__delete-btn{
            text-shadow: 0 0 2px white;
            cursor: pointer;
            position: absolute;
            top: 0px;
          }
        }
        .js-file{
          display: none;
        }
      }
    }
    .spacing{
      padding-top: 20px;
    }
  }
}

//var append_input
.input{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .upload-label{
    width: 100%;
    height: 200px;
    // width: 80px;
    // height: 80px;
    background-color: lightgray;
    .input-area{
      display: none;
    }
    .image_upload{

    .any{
      padding: 3px;
      color: white;
      font-size: 12px;
      border-radius: 4px;
      background-color: #ddd;
    }
    &__title{
      font-weight: bold;
      padding: 0 12px;
      padding-bottom: 16px;
    }
    &__subtitle{
      color: #999;
      padding: 0 12px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    &__text{
      padding: 0 12px;
    }
    &__image-field{
      width: 434px;
      height: 160px;
      margin: 16px auto;
      background-color: #eee;
      border: 1px dashed #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      text-align: center;
      position: relative;
      .fa-camera{
        position: absolute;
        top: 40px;
        font-size: 20px;
      }
      &__text{
        padding-top: 20px;
      }
    }
  }
}
}

// ul{
//   list-style: none;
//   display: flex;
//   flex-wrap: wrap;
// }
